{% extends 'base.html' %} 
{% block title %}Dashboard{% endblock title %}
{%block body %}
<!-- your dashboard body here-->
<div class="container-fluid">
  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Milk (Today)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{total}} ltr
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Milk Sold
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{sold}} ltr
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Milk Unsold
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{unsold}} ltr
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                % Milk w.r.t Yesterday
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    {{percentage}}%
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Subscription
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{subcription}} ltr
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Pay-as-you-go(today)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{payasyougoqty}} ltr
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Subscription Accounts
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{customers}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-book-open fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Pay-as-you-go(today)
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{payasyougocustomers}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-shopping-bag fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Pending Payments
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{pendingpayments}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-danger text-uppercase mb-1"
              >
                Pending Amount
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Rs {{balance}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Today's Revenue
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Rs {{revenue}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-danger text-uppercase mb-1"
              >
                Today's Expenditure
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                Rs {{expenditure}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Bar Chart Column -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">
                    Milk per Cow (ltr)
                </h6>
            </div>
            <canvas id="barChart"></canvas>
            <script>
                // JavaScript code
  document.addEventListener("DOMContentLoaded", function () {
    const data = {
      labels: ["685", "550", "271", "297", "377", "628", "397"],
      datasets: [
        {
          label: "Today",
          backgroundColor: "rgba(75, 192, 192, 0.6)",
          borderColor: "rgba(75, 192, 192, 1)",
          borderWidth: 1,
          data: [10, 15, 8, 12, 10, 10, 12],
        },
        {
          label: "Yesterday",
          backgroundColor: "rgba(255, 99, 132, 0.6)",
          borderColor: "rgba(255, 99, 132, 1)",
          borderWidth: 1,
          data: [7, 12, 6, 10, 15, 12, 10, 0],
        },
      ],
    };

    // Bar chart configuration
    const config = {
      type: "bar",
      data: data,
      options: {
        responsive: true,
        scales: {
          y: {
            min: 0,
            ticks: {
              stepSize: 1, // Customize the interval between ticks
            },
          },
        },
      },
    };

    // Create the chart
    const barChart = new Chart(document.getElementById("barChart"), config);
  });
            </script>
        </div>
    </div>

    <!-- Doughnut Chart Column -->
    <div class="col-lg-6 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">
                    Today's Milk Sales Breakdown (litres)
                </h6>
            </div>
            <div class="row">
                <div class="col">
                    <canvas id="doughnutChart"></canvas>
                </div>
            </div>
            <script>
                 // JavaScript code
              document.addEventListener("DOMContentLoaded", function () {
                const data = [{{ subcription }}, {{ payasyougoqty }}, {{ unsold }}];
            const labels = ["Customer", "Pay-as-you-go", "Not sold"];

            // Doughnut chart configuration
            const config = {
                type: "doughnut",
                data: {
                    datasets: [
                        {
                            data: data,
                            backgroundColor: [
                                "rgba(75, 192, 192, 0.6)",
                                "rgba(255, 99, 132, 0.6)",
                                "rgba(255, 206, 86, 0.6)",
                            ],
                            borderColor: [
                                "rgba(75, 192, 192, 1)",
                                "rgba(255, 99, 132, 1)",
                                "rgba(255, 206, 86, 1)",
                            ],
                            borderWidth: 1,
                        },
                    ],
                    labels: labels,
                },
                options: {
                    responsive: true,
                    legend: {
                        display: true,
                        position: "bottom", // You can change the legend position here
                    },
                },
            };

            // Create the chart
            const doughnutChart = new Chart(
                document.getElementById("doughnutChart"),
                config
            );
});
            </script>
        </div>
    </div>
</div>

</div>
{% endblock body %} 
