{% extends "base.html" %}
{% block title %}Cow data{% endblock title %}
{% block body %}
<!-- style  -->
<style>

    body{
        margin-top:20px;
        background:#FAFAFA;
    }
    .order-card {
        color: #fff;
    }
    
    .bg-c-blue {
        background: linear-gradient(45deg,#4099ff,#73b4ff);
    }
    
    .bg-c-green {
        background: linear-gradient(45deg,#2ed8b6,#59e0c5);
    }
    
    .bg-c-yellow {
        background: linear-gradient(45deg,#FFB64D,#ffcb80);
    }
    
    .bg-c-pink {
        background: linear-gradient(45deg,#FF5370,#ff869a);
    }
    .bg-c-red{
        background: linear-gradient(45deg, #ec4f4f, #f68652);
    }
    
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    
    .card .card-block {
        padding: 25px;
    }
    
    .order-card i {
        font-size: 26px;
    }
    
    .f-left {
        float: left;
    }
    
    .f-right {
        float: right;
    }
</style>
<!-- style end -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <a href="#" style="text-decoration:none">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20"><br></h6>
                    <h2 class="text-right"><i class="fa fa-plus f-left"></i><span>Medication record</span></h2>
                    <h4 class="m-b-20 text-right"><b>24</b></h4>
                </div>
            </div>
            </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="#" style="text-decoration:none">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20"><br></h6>
                    <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>Milk record</span></h2>
                    <h4 class="m-b-20 text-right"><b>12</b></h4>
                    
                </div>
            </div>
        </a>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <a href="#" style="text-decoration:none">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20"><br></h6>
                    <h2 class="text-right"><i class="fa fa-baby f-left"></i><span>Birth Events</span></h2>
                    <h4 class="m-b-20 text-right"><b>10</b></h4>
                </div>
            </div>
        </a>
        </div>
	</div>
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <a href="#" style="text-decoration:none">
            <div class="card bg-c-red order-card">
                <div class="card-block">
                    <h6 class="m-b-20"><br></h6>
                    <h2 class="text-right"><i class="fa fa-sun f-left"></i><span>Dry periods</span></h2>
                    <h4 class="m-b-20 text-right"><b>10</b></h4>
                </div>
            </div>
        </a>

        </div>
        <div class="col-md-4 col-xl-4">
            <a href="#" style="text-decoration:none">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20"><br></h6>
                    <h2 class="text-right"><i class="fa fa-fire f-left"></i><span>Heat periods</span></h2>
                    <h4 class="m-b-20 text-right"><b>10</b></h4>
                </div>
            </div>
        </a>
        </div>
    </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>
{% endblock body %}
