{% extends "base.html" %}
{% block title %}Name{% endblock title %}
{% block body %}
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <div class="topbar-divider d-none d-sm-block"></div>
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success">Customers list</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>Paid</th>
                                            <th>Balance</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Date</th>
                                            <th>Quantity</th>
                                            <th>Rate</th>
                                            <th>Amount</th>
                                            <th>Paid</th>
                                            <th>Balance</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for data in customer %}
                                        <tr>
                                            <td>{{data.date}}</td>
                                            <td>{{data.qty}}</td>
                                            <td>₹{{data.rate}} l</td>
                                            <td>₹{{data.amount}}</td>
                                            <td>{{data.Balance}}</td>
                                            <td>{{data.remarks}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Date Main Content -->

                </div>
                <!-- Date Content Wrapper -->
                <!-- /.container-fluid -->

                <!-- Date Page Wrapper -->            
            </div>

        </div>

    </div>
{% endblock body %}